<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  
    <script src="{{url_for('static', filename='js/admin_panel.js')}}"></script>
    <title>Admin Panel</title>
  </head>
  <body>
    <div class="container" id="adminbody">
    </div>
    <div class="container" id="buttons">
      <button class="btn btn-primary" id="img_link_btn">Submit</button>
      <button class="btn btn-warning" id="mt">Maintance Mode</button>  
    </div>
    <div class="container" id="endp">
      <h1>Endpoints : </h1>
    </div>
  </body>
  <script>
          var retData = sessionStorage.getItem("ud");
          var parsData = JSON.parse(retData);
          console.log(parsData);
          if(parsData === null){
            window.location.href = '/'
          }
          try{
            var username =  parsData['username'];
            var password =  parsData['password'];
          }
          catch(e){
            console.log(e);
          }
          $(document).ready(function() {
          $("#img_link_btn").click(function(e){
                  console.log('send_link');
                  e.preventDefault();
                  var link = document.getElementById('linkIMG').value;
                  var time = document.getElementById('time_sel').value; 
                  console.log(link);
                  updateIMG(username,password,link,time)
                  .then((updateIMGresults) => {
                    if(updateIMGresults.status){
                      console.log('IMG updated');
                      document.getElementById('statustext').removeAttribute('hidden');
                      document.getElementById('statustext').innerHTML = `IMG updated!`;
                    }
                  })
            });
            $("#mt").click(function(e){
              console.log('entering mt mode');
              e.preventDefault();
              MTMode(username,password)
              .then((onenter) => {
                if(onenter.status){
                  console.log('maintance mode');
                  document.getElementById('statustext').removeAttribute('hidden');
                  document.getElementById('statustext').innerHTML = `Maintence status changed!`;
                }
              })
            });
          });
          console.log('sendin');
          verifyAccount(username, password)
            .then((promiseResult) => {
            if (promiseResult.status) {
                $('#adminbody').html(promiseResult.value['code']);
                document.getElementById('uppertext').innerHTML = `Admin Panel : ${promiseResult.value['username']}`;
                document.getElementById('imgchange').removeAttribute('hidden');
                getQueue(username, password)
                .then((queueResult) => {
                  if (queueResult.status) {
                    console.log(queueResult.value);
                    $('#def_prod').html(queueResult.value);
                  }
                });
                getEndP(username, password)
                .then((epResult) => {
                  if (epResult.status) {
                    //console.log(epResult.value['/']['functionName'])
                    dict = Object.keys(epResult.value);
                    for (let i = 0;i <  Object.keys(epResult.value).length;i++){
                      //console.log(epResult.value[dict[i]]['functionName']));
                      const heading = document.createElement('h2');
                      heading.textContent = epResult.value[dict[i]]['functionName'] + " :: " + epResult.value[dict[i]]['methods'];
                      heading.style.color = 'green';
                      document.querySelector('#endp').appendChild(heading);
                    }
                  }
                });    
            } else {
                console.log('e');
                window.location.href = '/';
            }
            });
  </script>
</html>