<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  
    <script src="{{url_for('static', filename='js/admin_panel.js')}}"></script>
    <title>Admin Panel</title>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center" id="uppertext">That's gonna be admin panel!</h1>
      <h2 class="text-center" id="statustext" hidden>That's gonna be admin panel!</h2>
    </div>
    <div class="container" id='imgchange' hidden>
        <div class="row" id="def_prod"></div>
        <h1>Upload Image</h1>
          <div class="form-group">
            <label for="linkIMG">Image-Link</label>
            <input type="input" class="form-control" id="linkIMG" aria-describedby="emailHelp" placeholder="Enter link">
          </div>
          <button class="btn btn-primary" id="img_link_btn">Submit</button>
      </div>
  </body>
  <script>
          var retData = sessionStorage.getItem("ud");
          var parsData = JSON.parse(retData);
          console.log(parsData);
          if(parsData === null){
            window.location.href = '/'
          }
          try{
            var username =  parsData['username'];
            var password =  parsData['password'];
          }
          catch(e){
            console.log(e);
          }
          $(document).ready(function() {
          $("#img_link_btn").click(function(e){
                  console.log('send_link');
                  e.preventDefault();
                  var link = document.getElementById('linkIMG').value;
                  console.log(link);
                  updateIMG(username,password,link)
                  .then((updateIMGresults) => {
                    if(updateIMGresults.status){
                      console.log('IMG updated');
                      document.getElementById('statustext').removeAttribute('hidden');
                      document.getElementById('statustext').innerHTML = `IMG updated!`;
                    }
                  })
            });
          });
          console.log('sendin');
          verifyAccount(username, password)
            .then((promiseResult) => {
            if (promiseResult.status) {
                console.log(promiseResult.value);
                document.getElementById('uppertext').innerHTML = `Admin Panel : ${promiseResult.value['username']}`;
                document.getElementById('imgchange').removeAttribute('hidden');
                getQueue(username, password)
                .then((queueResult) => {
                  if (queueResult.status) {
                    console.log(queueResult.value);
                    $('#def_prod').html(queueResult.value);
                  }
                });
            } else {
                console.log('e');
                console.log(promiseResult.value);
                window.location.href = '/';
            }
            });
  </script>
</html>