<!doctype html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.6/dat.gui.min.js"></script>
    <script src="{{url_for('static', filename='js/radio.js')}}"></script>
</head>
<body>
    <div id="screen" style="background-size: cover;background-repeat: no-repeat; background-position: center center; background-attachment: fixed;"></div>
    <img src="{{ url_for('static', filename='silentwave.png') }}" class="vhs h-100 d-flex align-items-center justify-content-center text-light" style="padding-top: 85px;"></img>
    <div class="vhs h-100 d-flex align-items-center justify-content-center text-light font-family: 'SilentWave';" id="track-name">Connecting...</div>
    <div id="audio-stream">
        <img class="vhs glow-image img-fluid rounded mx-auto d-block" style="padding-top: 110px;" id="audio-button" src="static/play.png" width="120" height="120" onclick="radio()"> 
        <div id="volume-mixer" class="d-flex justify-content-center" style="padding-top: 32px;">
            <input type="range" min="0.0" max="1.0" step="0.1" value="0.5" id="volume-control" onchange="vol()">
        </div>
        <audio controls hidden>
            <source src="{{ stream_url }}" type="audio/mpeg">
            Your browser does not support the audio element. 
        </audio>
    </div>

    <!--Lastest played tracks-->
    <div id="slideout">
      <a class="vhs text-white d-flex justify-content-center">Previously on silentwave.</a>
      <ul class="list">
      </ul>
    </div>

    <footer id="footer">
        <div class="footer-content">
          <div class="text-white footer-section-left">
            Created by:
            <a class="text-white" href="https://github.com/FullmetalNeverCore">0xNC</a>
            <a class="text-white">, EternalXero</a>
            <br>
            <a id="showWindowBtn" class="text-white">Previously on silentwave."click me"</a>
          </div>
            <div class="text-white footer-section-right">
                Current Listeners:
                <p class="text-white" id="listeners">0</p>
            </div>
        </div>
    </footer>
    
    <script>
      console.log("Welcome to silentwave.");
      var audio = document.querySelector('audio'); 
      var volumeControl = document.querySelector('#volume-control');
      
      var showWindowBtn = document.getElementById('showWindowBtn');

      showWindowBtn.addEventListener('click', function() {
        $('#slideout').toggleClass('on');
      });

      

      volumeControl.addEventListener('input', function() {
        audio.volume = this.value;
      });


      document.addEventListener('mousemove', function(event) {
          const screenHeight = window.innerHeight;
          const mouseY = event.clientY;

          if (mouseY >= screenHeight - 100) { 
              document.body.classList.add('footer-visible');
          } else {
              document.body.classList.remove('footer-visible');
          }
      });
      function updateLatestTracks() {
          $.get('/previous', function(data) {
              const list = $('.list');
              list.empty();
              const reversedTracks = Object.entries(data.tracks).reverse();
              reversedTracks.forEach(([time, track_name]) => {
                  const listItem = $('<li>', {
                      css: {
                          margin: '5px',
                          marginLeft: '30px',
                          fontSize: '15px'
                      },
                      text: `${time}: ${track_name}`
                  });
                  list.append(listItem);
              });
          }).fail(function() {
              console.error('Failed to fetch previous tracks.');
          });
      }
  
    </script>
</html>