
body {
  background-image: url('https://newsovietwave.com/assets/images/bg2.jpg');
}

#volume-mixer input[type="range"] {
  color: red;
}

#volume-mixer img {
  background-color: red;
}

audio {
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
}